.container_box {
  border: none;
  padding: 1px;
  border-radius: 10px;
  background: #0417209f;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.253);
  background-clip: padding-box;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter-: blur(5px);
}

.container_content {
  border: none;
  color: #e4e1e1;
  border-radius: 5px;
  background-color: #cdd3fe24;
  box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.253);
  background-clip: padding-box;
  -webkit-backdrop-filter-: blur(50px);
}

.calenderDatesContainer {
  margin: 3px;
  color: #24252C;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #efefef;
}

.main_buttons {
  background-color: #243365;
  color: #e4e1e1;
  border-radius: 5px;
  box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.253);
}

.seat_range_buttons {
  background-color: #4a66c5;
  color: #e4e1e1;
  border-radius: 50px;
  box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.253);
}

.glass_effect {
  border-radius: 8px;
  background: #18203a3b;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}