.KioskSign {
     font-family: "Stack Sans Headline", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  background: white;
  color:black;
  box-shadow: inset 0 0 50px rgba(138, 106, 0, 0.582);
  -webkit-backdrop-filter: drop-shadow(5px);
  backdrop-filter: 5px;
}

.KioskSign::before {
    content: " ";
  position: absolute;
  top: -4px;
  left: -4px;
  bottom: -4px;
  right: -4px;
  border: 10px solid #940505;
  border-radius: 50%;
}

.KioskSign::after {
    position: absolute;
  content: "";
  border: 5px dotted #f1f1b3ce;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border-radius: 50%;
}

.KioskSign:hover {
    box-shadow: inset 0 0 50px rgba(138, 106, 0, 0.582);
    box-shadow: 1px 1px 15px 3px lightgoldenrodyellow;
    scale: 1.05;
}

.category-sign {
 background-color: #940505;
 border-radius: 50%;
 position: relative;


}

.category-sign::after {
position: absolute;
content: "";
border: 5px double #243365;
top: 2px;
right: 2px;
bottom: 2px;
left: 2px;
border-radius: 50%;

}


