@import "tailwindcss";

@theme {
  --breakpoint-xs: 30px;
}

:root {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  min-height: 100svh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family:"Stack Sans Headline", sans-serif;
  background-image: url("/images/BackgroundBlue.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #292929;
  color: white;
  overflow-x: hidden;
}

.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}

.animation-slidein {
  animation: slide-in 1s ease-in-out;
}

.animation-slideout {
  animation: slide-out 1s ease-in-out;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

.popup-background {
  background-color: rgba(41, 41, 41, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

/** .popup-background:hover {
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.tenor.com%2F6aWBg0rV1EYAAAAi%2Ftoothless-dancing.gif&f=1&nofb=1&ipt=9421cb7e06523915cc6ea2c86042939e72eb6539590452589e1562a78530f89c);
  background-repeat: no-repeat;
  background-position: 65px 100px;
} **/

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}

.welcome-sign {
  font-family: "Stack Sans Headline", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: white;
  color:black;
  box-shadow: 1px 1px 15px 3px lightgoldenrodyellow;
  -webkit-backdrop-filter: drop-shadow(5px);
  backdrop-filter: 5px;

  border-radius: 3px;
}

.welcome-sign::before {
  content: " ";
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  border: 7px solid rgb(148, 5, 5);
  border-radius: 5px;
} 

.welcome-sign::after {
  position: absolute;
  content: "";
  border: 8px dotted rgba(241, 241, 179, 0.808);
  top: -6px;
  right: -5px;
  bottom: -6px;
  left: -5px;
}


.popOut-box {
  font-family: "Stack Sans Headline", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  background: white;
  color:black;
  box-shadow: 1px 1px 20px 10px lightgoldenrodyellow;
  box-shadow: inset 0 0 50px rgba(138, 106, 0, 0.582);
  -webkit-backdrop-filter: drop-shadow(5px);
  backdrop-filter: 5px;
}

.popOut-box::before {
   content: " ";
  position: absolute;
  top: -4px;
  left: -4px;
  bottom: -4px;
  right: -4px;
  border: 10px solid rgb(148, 5, 5);
  box-shadow: 1px 1px 15px 3px lightgoldenrodyellow;
  border-radius: 5px;
}

.popOut-box::after {
   position: absolute;
  content: "";
  border: 5px dotted rgba(241, 241, 179, 0.808);
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border-radius: 5px;
}

.Header-container-box{
  font-family: "Stack Sans Headline", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 15px 5px #0000002d;
  background:#2433651d;
  color:black;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.stroked-text {
  -webkit-text-stroke: 0.5px rgb(202, 202, 149);
  font-family: "Righteous", sans-serif;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.371);
}

.reflection-effect {
   -webkit-box-reflect: below 2px
  linear-gradient(transparent 55%, transparent, rgba(41, 41, 41, 0.247)); 
}

.main_buttons {
  margin: 3px;
  position: relative;
  background-color: #243365;
  color: #e4e1e1;
  border-radius: 5px;
  box-shadow: inset 0px 50px 100px -20px rgba(43, 43, 99, 0.345), 0px 30px 60px -30px rgba(0, 0, 0, 0.219), 0px -2px 6px 0px rgba(10, 37, 64, 0.219) ;
}

.main_buttons:hover {
  scale: 105%;
}

.main_buttons:active {
  scale: 95%;
}

.glass_effect {
  position: relative;
  border-radius: 8px;
  background:#2433651d;
  box-shadow: inset 2px 2px 100px rgb(0, 0, 0);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}