@import "tailwindcss";

@theme {
  --breakpoint-xs: 30px;
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100svh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Noto Serif", serif;
  background-color: #292929;
  color: white;
}

.animation-slidein {
  animation: slide-in 1s ease-in-out;
}

.animation-slideout {
  animation: slide-out 1s ease-in-out;
}

@keyframes slide-in {
  from {transform: translateX(100%);}
  to {transform: translateX(0);}
}

@keyframes slide-out {
  from {transform: translateX(0);}
  to {transform: translateX(100%);}
}